@font-face {
  font-family: "Menlo";
  src: url('../fonts/Menlo.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFF;
  font-family: 'Menlo';
  font-size: 14pt;
  line-height: 12pt;
}

canvas {
  display: block;
}